* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:black;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0;
    padding:0;
    text-transform:uppercase;
    width:100%;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0 75px 170px;
        margin:-90px 0 0 -198px;
    }
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

#main{
    width: 260px;
    height: 500px;
    margin: 52px 0;
    float: left;
    background-image: url("../img/battery-img.jpg");
}

#level{
    width: 100px;
    height: 400px;
    font-size: 40px;
    margin: 75px 100px;
    float: left;
    color: white;
}

#none{
    display: none;
}

#lightning{
    font-size: 30px;
    margin: 150px 30px;
}

.green{
    color: green;
}

.blue{
   color: blue;
}

.red{
    color: red;
}